set clipboard=unnamedplus

" line numbers
set relativenumber
set number

" tabs
set tabstop=2
set softtabstop=2
set shiftwidth=2
set autoindent
set nowrap


" search settings
set ignorecase
set smartcase

set cursorline

" colors
set termguicolors
set background = "dark"
set signcolumn = "yes"

set scrolloff=8
set updatetime=20

set backspace="indent,eol,start"



" Use space as leader
let mapleader = " "

" Highligted yank
Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_duration = "400"
let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"


Plug 'tpope/vim-commentary'
" NerdTree
Plug 'preservim/nerdtree'

" Otwieranie project view
nmap <leader>ee :NERDTree<CR>

" Zapisywanie pliku
nmap <leader>w :w<CR>
" Zamykanie pliku
nmap <leader>q :q!<CR>
" Znajdź plik
nmap <leader>ff :action GotoFile<CR>
nmap <leader>fs :action FindInPath<CR>
" Refactoring
nmap <leader>ca :action Refactorings.QuickListPopupAction<CR>
" Zakomentuj linie
vmap <leader>c :action CommentByLineComment<CR>

" Przesuń linie powyzej
vmap K :action MoveLineUp<CR>
vmap J :action MoveLineDown<CR>
" Przesuwanie w dół z centrowaniem
nmap <C-d> <C-d>zz

" Przesuwanie w dół z centrowaniem
nmap <C-u> <C-u>zz

" greatest remap ever
vnoremap <leader>p "_dP

" ctrl-c jako kopia
map <C-c> y
" ctrl-c jako escape w INSERT
imap <C-c> <Esc>

imap jk <ESC>

" Split
nmap <leader>sv :action SplitVertically<CR>
nmap <leader>sh :action SplitHorizontally<CR>
nmap <leader>sx :q<CR>
nmap <leader>se :action tabshifter.Actions.EqualSizeSplit<CR>
nmap <leader>sm :action TabShiftActions.ToggleMaximizeRestore<CR>
" tab
nmap <leader>tp :action PreviousTab<CR>
nmap <leader>tn :action NextTab<CR>

" Przesuwanie pomiędzy oknami
nmap <C-l> :action TabShiftActions.MoveFocusRight<CR>
nmap <C-h> :action TabShiftActions.MoveFocusLeft<CR>
nmap <C-j> :action TabShiftActions.MoveFocusDown<CR>
nmap <leader>. :action NextSplitter<CR>

" Przesuwanie okien
nnoremap <C-A-right> :action TabShiftActions.ShiftRight<CR>
nnoremap <C-A-left> :action TabShiftActions.ShiftLeft<CR>
nnoremap <C-A-up> :action TabShiftActions.ShiftUp<CR>
nnoremap <C-A-down> :action TabShiftActions.ShiftDown<CR>

" wielkość split
nmap <leader>h :action TabShiftActions.StretchLeft<CR>
nmap <leader>l :action TabShiftActions.StretchRight<CR>
nmap <leader>j :action TabShiftActions.StretchDown<CR>
nmap <leader>k :action TabShiftActions.StretchUp<CR>



nmap J :action EditorCloneCaretBelow<CR>
nmap K :action EditorCloneCaretAbove<CR>
